@import "reset.css" screen;

@font-face {
    font-family: 'Tahoma';
    src: url('../fonts/Tahoma.eot?#iefix') format('embedded-opentype'),  url('../fonts/Tahoma.woff') format('woff'), url('../fonts/Tahoma.ttf')  format('truetype'), url('../fonts/Tahoma.svg#Tahoma') format('svg');
    font-weight: normal;
    font-style: normal;
}
/*
@font-face {
    font-family: "Tahoma" ;
    src: url("../fonts/Tahoma.ttf");
    src: url("../fonts/Tahoma.woff");
    src: url("../fonts/Tahoma.eot");
    src: url("../fonts/Tahoma.svg");
}
 */
body {
    font-family: "Tahoma";

}
.conteiner {
    width: 1215px;
    height: 1064px;
    margin: 0 auto;
    clear: both;

}

/*    Navigation      */
nav.conteinernav {
    display: block;
    margin: 0 auto;
    width: 1215px;

    height: 36px;
    padding: 0 30px 0 350px;

    background-image: url("../images/backgroundnav3.png");
}
nav.conteinernav .navitem , nav.conteinernav .navitemspan {
    display:  inline-block;
    height: 100%;
    margin: 0 10px;
    font-size: 0px;
    vertical-align: top;
}
nav.conteinernav .navitem a, nav.conteinernav .navitemspan a {
    display: inline-block;
    height: 100%;
    font-size: 0;
    padding: 12px 10px;
    color: #60b5ed;
}
nav.conteinernav .navitem a span, nav.conteinernav .navitemspan a span {
    display: inline-block;
    height: 100%;
    text-align: center;
    color: #60b5ed;
    font-size: 0;
    font-size: 12px;

}
.navitemlinks.minhasofertas span {
    display: inline-block;
    margin: 0 auto;
    height: 100%;
    padding: 3px 0;
}
span.navitemspan a.navitemlinks.minhasofertas {
    padding-top: 3px;
}

.navitemlinks.minhasofertas span .ofertastext {
    display: inline-block;
    height: 30px;
    padding-left: 60px;
    margin-top: -3px;
    border-left: 1px solid #56a2dc;
    background-image: url("../images/bandeira3.png");
    background-repeat: no-repeat;
    background-position: 20px ;
    text-align: center;
}
.navitemlinks.minhasofertas span .ofertastext p {
    margin:8px auto 10px auto;
    height: 10px;
}

a.navitemlinksOla {
    text-align: center;
    width: 165px;
    height: 100%;
    border: 1px solid #53a0da;
    color: #fff;
    /*background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDE5NSA0MiIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PGxpbmVhckdyYWRpZW50IGlkPSJoYXQwIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjUwJSIgeTE9IjExNSUiIHgyPSI1MCUiIHkyPSItMTUlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMCIgc3RvcC1vcGFjaXR5PSIwLjMiLz4KPHN0b3Agb2Zmc2V0PSIyMCUiIHN0b3AtY29sb3I9IiMwMDAiIHN0b3Atb3BhY2l0eT0iMC4zIi8+CjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZiIgc3RvcC1vcGFjaXR5PSIwLjMiLz4KICAgPC9saW5lYXJHcmFkaWVudD4KCjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxOTUiIGhlaWdodD0iNDIiIGZpbGw9InVybCgjaGF0MCkiIC8+Cjwvc3ZnPg==);
    */
    background-image: -moz-linear-gradient(bottom, rgba(0,0,0,.3) -15%, rgba(0,0,0,.3) 10.99%, rgba(255,255,255,.3) 115%); /* gradient overlay */
    background-image: -o-linear-gradient(bottom, rgba(0,0,0,.3) -15%, rgba(0,0,0,.3) 10.99%, rgba(255,255,255,.3) 115%); /* gradient overlay */
    background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,.3) -15%, rgba(0,0,0,.3) 10.99%, rgba(255,255,255,.3) 115%); /* gradient overlay */
    background-image: linear-gradient( to bottom, #4faedb 0%, #2e7ac4 100%); /* gradient overlay */
    padding-top: 0px;
    padding-bottom: 8px;
}
a.navitemlinksOla span {
    text-decoration: underline;
}
nav.conteinernav .navitem a.navitemlinks:hover {
    color: #fff;
    font-family: "Tahoma";
    font-size: 12px;
    background-color: #4eabda;
}
nav.conteinernav .navitem a.navitemlinks:hover span {
    color: #fff;
}
.navitemspan a.minhasofertas:hover {

    font-family: "Tahoma";
    font-size: 12px;
    background-color: #4eabda;
}
.navitemspan a.minhasofertas:hover span span {
    color: #fff;
    font-size: 12px;
    border-left: 1px solid transparent;
}
span.navitemspan a.minhasofertas:hover span[type="ofertas"]{
    border-left: none;

}
span.navitemspan a.navitemlinksOla span {
    text-decoration: none;
    color: #ffffff;
}
span.navitemspan a.navitemlinksOla span[type="Ola"] {
    text-decoration: underline;
}
    /*    End Navigation      */
/* //////////   Content   ////// */
div.content {
    position: relative;
    width: 1215px;
    height: 1064px;
    background-image: url("/images/backgroundcontent.png");
    background-size: cover;
    background-position: 50% 0%;
    /*border-top: 1px solid transparent;      */

}
.subscrybe {
    opacity: 1;
    /*position: absolute;      */
    width: 100%;
    height: 614px;
    border-top: 1px solid transparent;

}
.subscrybe form {
    margin: 214px auto auto;
    background-color: rgba(0, 0, 0, 0.6);
    width: 570px;
    height: 614px;
    border-top: 1px solid transparent;
}
p.headerform {
    height:25px;
    text-align: center;
    color: #fff;
    font-family: "Tahoma";
    font-size: 20px;
    margin: 10px auto 0px;
    padding-bottom: 6px;
    border-bottom: 1px solid #fff;

}
div.buttons {
    width: 276px;
    margin: 0 auto;
    margin-top: 48px;
    height: 34px;
    padding: 0;
    border: 1px solid transparent;
    clear: both;
}
.facebook {
    display: inline-block;
    float: left;
    padding-right: 0;
    margin-right: 0;
    font-size: 20px;
    font-weight: bold;

    width: 36px;
    height: 36px;
    border-top: 1px solid #758ab5;
    border-right: 1px solid #213c71;
    border-bottom: 0;
    border-left: 0;
    border-radius: 5px 0 0 5px;
    background: linear-gradient(to bottom, #3c5691 0%, #314172 100%) ;
    padding-left: 0;
}
.facebook a {
    display: inline-block;
    width: 100%;
    color: #fff;
    text-decoration:  none;
}
.login {
    width: 238px;
    display: inline-block;
    font-size: 12px;
    /*font-weight: bold;      */
    color: #fff;
    margin: 0;
    height: 36px;
    border-top: 1px solid #758ab5;
    border-left: 1px solid #4c68a9;
    border-bottom: 0;
    border-right: 0;
    border-radius: 0 5px  5px 0 ;
    background: linear-gradient(to bottom, #3c5691 0%, #314172 100%) ;
    line-height: 2.0;
    padding-left: 0;
}
.login span {
    display: inline-block;
    text-align: center;
}
/*     text OU      */
.lineou {
    margin: 20px auto 0;
    width: 276px;
    border-top: 1px solid transparent;
    clear: both;
}
.line {
    float:left;
    margin-top: 8px;
    width:120px;
    border-top: 1px solid #666666;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 1);
}
.ou {
    color: #999; /* text color */
    font-family: "Tahoma";
    font-size: 14px;
    width: 20px;
    float: left;
    margin-left: 10px;
}
.lineright {
    float:right;
    margin-top: 8px;
    width:120px;
    border-top: 1px solid #666666;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 1);
}
/*       End text OU      */
/*      Filds for sendings      */
.fildsforsending {
    width: 276px;
    border-top: 1px solid transparent;
    clear: both;
    margin:0 auto;
    margin-top: 22px;
}
/*
.fildsforsending input {
    display: inline-block;
    margin-top: 14px;
    margin-right: 0px;
    padding-right: 0px;
    background-color: #0f0f0f;
    border-top: 1px solid #494948;
    border-bottom: 1px solid #494948;
    border-left: 0;
    border-right: 0;
    padding: 11px 20px;
}
*/
/*
.fildsforsending  input:hover {
    border-top: 1px solid #518db4;
    border-bottom: 1px solid #518db4;

    background-color: #518db4;
}
*/
.fildsforsending  input {
    margin-top: 14px;
    display: inline-block;
    padding: 11px 14px;
    width: 100%;
    height: 100%;
    font-size: 12px;
    border: 0;
    color: #cccccc;
    background-color: #0f0f0f;
    border-top: 1px solid #494948;
    border-bottom: 1px solid #494948;
    border-left: 0;
    border-right: 0;
}
.fildsforsending input:hover {
    border: 1px solid #518db4;
    /*border-bottom: 1px solid #518db4;      */
    box-shadow: 0 0 0 5px  #518db4;
    box-shadow: inset 0 0 2px 2px #1e4b76;
    color: #ffffff;
    background-color: #518db4;
}
.fildsforsending  input[type="checkbox"]{
    width: 10%;
    height: 100%;
    display: inline-block;
    padding: 0 4px 0 0;
    font-size: 14px;
}
.forcheckbox {
    margin-top: 14px;
    color: #cccccc;
    font-size: 12px;
    /*background-color: #0f0f0f;      */
    height: 36px;
    line-height: 1.5;
}
.forcheckbox input[type="checkbox"] {
    margin: 5px 5px 0 0px;
    height:  16px;
    width: 16px;
    background-color: none;
}
/*
.fildcheck {
    font-size: 12px;
    color: #cccccc;
    line-height: 2.0;
}
*/
.fildsforsending input[type="submit"]{

}
.submitbutton {
    margin: 14px auto 0;
    border: 0;

    width: 50%;
    matgin-top: 14px;

}
.submitbutton input {
    width: 100%;
    height: 100%;
    border-top: 1px solid #64c3e4;
    border-left: 0;
    border-bottom: 0;
    border-right: 0;
    border-radius: 5px ;
    padding: 10px 0 10px 0;
    color: #ffffff;


    background: linear-gradient(to top, #2e7ac4 0%, #4eabda 100%);
}
.subscriptions {
    margin: 14px 20% 0;
    width: 60%;
    color: #cccccc;
    font-size: 12px;
    text-align: center;
    line-height: 1.4;
}
